@font-face {
    font-family: 'StarTrek BT';
    src: url('fonts/hinted-StarTrekBT-Regular.eot');
    src: url('fonts/hinted-StarTrekBT-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/hinted-StarTrekBT-Regular.woff2') format('woff2'),
        url('fonts/hinted-StarTrekBT-Regular.woff') format('woff'),
        url('fonts/hinted-StarTrekBT-Regular.svg#StarTrekBT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FederationDS9Title';
    src: url('fonts/hinted-FederationDS9Title.woff2') format('woff2'),
        url('fonts/hinted-FederationDS9Title.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Final Frontier';
    src: url('fonts/hinted-FinalFrontier.woff2') format('woff2'),
        url('fonts/hinted-FinalFrontier.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Federation';
    src: url('fonts/hinted-FederationTNGTitle.woff2') format('woff2'),
        url('fonts/hinted-FederationTNGTitle.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TNG Monitors';
    src: url('fonts/hinted-TrekTNGMonitors.woff2') format('woff2'),
        url('fonts/hinted-TrekTNGMonitors.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.trek-font {
    font-family: 'StarTrek BT' !important;
    font-weight: normal;
    font-style: normal;
}

.ds9Title-font {
    font-family: 'FederationDS9Title' !important;
    font-weight: normal;
    font-style: normal;
}

.final-frontier-font {
    font-family: 'Final Frontier' !important;
    font-weight: normal;
    font-style: normal;
}

.federation-font {
    font-family: 'Federation' !important;
    font-weight: normal;
    font-style: normal;
}

.tng-monitors-font {
    font-family: 'TNG Monitors' !important;
    font-weight: normal;
    font-style: normal;
}

.logo-image {
    max-width: 100px;

}


.panel-container {
    width: 400px;
    height: 640px;
    position: relative;
    background-color: #000a14;
    border: 6px solid #124548;
  }
  .panel-container .panel-accent {
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .panel-container .panel-accent svg {
    height: 580px;
    position: absolute;
    fill: #124548;
  }
  .panel-container .floor-container {
    position: absolute;
    left: 18px;
    top: 18px;
  }
  .panel-container .floor-container .floor {
    position: relative;
    margin-bottom: 6px;
    display: block;
    height: 70px;
    width: 364px;
    color: #29777b;
    transition: color 0.5s;
  }
  .panel-container .floor-container .floor .text-pane {
    width: 269px;
    height: 44px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 12px 18px 6px 18px;
    text-align: right;
    font-weight: bold;
  }
  .panel-container .floor-container .floor .text-pane label {
    display: block;
    width: 100%;
  }
  .panel-container .floor-container .floor .text-pane label.floor-number {
    font-size: 18px;
  }
  .panel-container .floor-container .floor .text-pane label.floor-description {
    margin-top: 2px;
    font-size: 8px;
  }
  .panel-container .floor-container .floor svg {
    position: absolute;
    width: 100%;
  }
  .panel-container .floor-container .floor svg .outer {
    fill: #124548;
    stroke: #29777b;
    stroke-width: 2px;
    transition: fill 0.5s;
  }
  .panel-container .floor-container .floor svg .inner {
    fill: #082430;
    transition: fill 0.5s;
  }
  .panel-container .floor-container .floor svg .panel {
    fill: #082430;
    stroke: #29777b;
    stroke-width: 2px;
    transition: fill 0.5s;
  }
  .panel-container .floor-container .floor:hover {
    color: black;
    transition: color 0.5s;
  }
  .panel-container .floor-container .floor:hover .inner, .panel-container .floor-container .floor:hover .outer {
    fill: #5bc3c8;
    transition: fill 0.5s;
  }
  .panel-container .floor-container .floor:hover .panel {
    fill: #29777b;
    transition: fill 0.5s;
  }

  .color1bright {
    background-color: #5bc3c8;
  }
  