				<!-- Chris Holland sp#5 -->
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-5" data-toggle="modal" data-target="#modal-speaker-5">
							<img src="assets/images/speakers/Chris_Holland2.jpg" class="card-img-top rounded-0" alt="Image of Chris Holland">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2 tng-monitors-font">Chris Holland</h5>
							<div class="card-text mb-3">
								<div style="height:48px; width:213px;" class="meta">Director, Engineering, TriNet</div>
							</div><!--//card-text-->
							<a href="#modal-speaker-5" data-toggle="modal" data-target="#modal-speaker-5">Read more &rarr;</a>
						</div><!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								<li class="list-inline-item"><a href="https://www.twitter.com/chrisholland" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
								<li class="list-inline-item"><a  href="https://linkedin.com/in/chrisholland" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
								<li class="list-inline-item"><a  href="https://medium.com/@chrisholland" target="_blank"><i class="fab fa-medium fa-fw"></i></a></li>
							</ul><!--//social-list-->
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<!-- Mark Nadal sp#6 -->
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-6" data-toggle="modal" data-target="#modal-speaker-6">
							<img src="assets/images/speakers/Mark_Nadal.jpg" class="card-img-top rounded-0" alt="image of Mark Nadal">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2 tng-monitors-font">Mark Nadal</h5>
							<div class="card-text mb-3">
								<div style="height:48px; width:213px;" class="meta">ERA CEO</div>
							</div><!--//card-text-->
							<a href="#modal-speaker-6" data-toggle="modal" data-target="#modal-speaker-6">Read more &rarr;</a>
						</div><!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								<li class="list-inline-item"><a href="https://www.twitter.com/marknadal" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
								<li class="list-inline-item"><a  href="https://www.linkedin.com/in/marknadal" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
								<li class="list-inline-item"><a  href="https://gun.eco" target="_blank"><i class="fab fa-chrome fa-fw"></i></a></li> 
							</ul><!--//social-list-->
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<!-- Nate Taylor sp#7 -->
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-7" data-toggle="modal" data-target="#modal-speaker-7">
							<img src="assets/images/speakers/Nate_Taylor.jpg" class="card-img-top rounded-0" alt="image of Nate Taylor">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2 tng-monitors-font">Nate Taylor</h5>
							<div class="card-text mb-3">
								<div style="height:48px; width:213px;" class="meta">Lead Developer at Aviture</div>
							</div><!--//card-text-->
							<a href="#modal-speaker-7" data-toggle="modal" data-target="#modal-speaker-7">Read more &rarr;</a>
						</div><!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								<li class="list-inline-item"><a href="https://www.twitter.com/taylonr" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
								<li class="list-inline-item"><a href="https://www.linkedin.com/in/taylonr/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
								<li class="list-inline-item"><a href="https://www.taylonr.com" target="_blank"><i class="fab fa-chrome fa-fw"></i></a></li> 
							</ul><!--//social-list-->
						</div>
					</div><!--//card-->
				</div><!--//col-->
				<!-- Jennifer Wadella sp#8-->
				<div class="col-12 col-md-6 col-lg-3 mb-4">
					<div class="card rounded-0">
						<a href="#modal-speaker-8" data-toggle="modal" data-target="#modal-speaker-8">
							<img src="assets/images/speakers/Jennifer_Wadella.jpg" class="card-img-top rounded-0" alt="image of Jennifer Wadella">
						</a>
						<div class="card-body">
							<h5 class="card-title mb-2 tng-monitors-font">Jennifer Wadella</h5>
							<div class="card-text mb-3">
								<div style="height:48px; width:213px;" class="meta">Founder, Kansas City Women in Technology</div>
							</div><!--//card-text-->
							<a href="#modal-speaker-8" data-toggle="modal" data-target="#modal-speaker-8">Read more &rarr;</a>
						</div><!--//card-->
						<div class="card-footer text-muted">
							<ul class="social-list list-inline mb-0">
								<ul class="social-list list-inline mb-0">
									<li class="list-inline-item"><a href="https://www.twitter.com/likeOMGitsFEDAY" target="_blank"><i class="fab fa-twitter fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="https://www.linkedin.com/in/jennifer-wadella-7985b46/" target="_blank"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="https://jenniferwadella.com" target="_blank"><i class="fab fa-chrome fa-fw"></i></a></li>
								</ul><!--//social-list--> 
							</ul><!--//social-list-->
						</div>
					</div><!--//card-->
				</div><!--//col-->