<nav>
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab-#" data-toggle="tab" href="#nav-profile-#" role="tab" aria-controls="nav-profile-#" aria-selected="true">Profile</a>
        <a class="nav-item nav-link" id="nav-session1-tab-#" data-toggle="tab" href="#nav-session1-#" role="tab" aria-controls="nav-session1-#" aria-selected="false">Session 1</a>
        <a class="nav-item nav-link" id="nav-session2-tab-#" data-toggle="tab" href="#nav-session2-#" role="tab" aria-controls="nav-session2-#" aria-selected="false">Session 2</a>
        <a class="nav-item nav-link" id="nav-session3-tab-#" data-toggle="tab" href="#nav-session3-#" role="tab" aria-controls="nav-session3-#" aria-selected="false">Session 3</a>
    </div>
</nav>
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-profile-#" role="tabpanel" aria-labelledby="nav-profile-tab-#">
        <!-- Profile -->	
    </div>
    <div class="tab-pane fade" id="nav-session1-#" role="tabpanel" aria-labelledby="nav-session1-tab-#">
        <!-- Session1 -->	
        <div class="desc p-4 p-lg-5">
            <p><strong>TITLE:</strong> ROOM - TimeOfTalk</p>
            <p>DESCRIPTION</p>
            <br />
            <p style="background-color: #c3c3c3;">
                TRACK - LEVEL - THEME
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-session2-#" role="tabpanel" aria-labelledby="nav-session2-tab-#">
        <!-- Session2 -->
        <div class="desc p-4 p-lg-5">
            <p><strong>TITLE:</strong> ROOM - TimeOfTalk</p>
            <p>DESCRIPTION</p>
            <br />
            <p style="background-color: #c3c3c3;">
                TRACK - LEVEL - THEME
            </p>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-session3-#" role="tabpanel" aria-labelledby="nav-session3-tab-#">
        <!-- Session3 -->
        <div class="desc p-4 p-lg-5">
            <p><strong>TITLE:</strong> ROOM - TimeOfTalk</p>
            <p>DESCRIPTION</p>
            <br />
            <p style="background-color: #c3c3c3;">
                TRACK - LEVEL - THEME
            </p>
        </div>
    </div>
</div>